<%= stylesheet_link_tag 'index', :media => "all" %>

<!DOCTYPE html>
<html lang="ja">


<br><br><br><br>
<section id="second-block">
        <p><%= image_tag @relax.image_url, size: "500x400" if @relax.image? %></p>


    <%= form_for @relax do |f| %>
        <%= f.label :title %>
            <%= f.text_field :title, :size => 140 %> 
        <%= f.label :body %>
            <%= f.text_field :body, :size => 140 %> 
        <%= f.submit "再投稿" %>
    <% end %>
</section>