<%= stylesheet_link_tag 'show', :media => "all" %>

<!DOCTYPE html>
<html lang="ja">

<section id="second-block">
<br><br><br>
    <h3>息抜き詳細</h3>
    <div class="relax">
        <p><%= @relax.title %></p>
        <p><%= @relax.body %></p>
        <p><%= image_tag @relax.image_url, size: "500x400" if @relax.image? %></p>
        <p><%= @relax.created_at.to_s(:datetime_jp) %></p>

    <% if user_signed_in? %>
        <% if current_user.already_loved?(@relax) %>
            <%= link_to relax_lofe_path(@relax), method: :delete do %>
                <i class="fas fa-heart"></i><%= @relax.loves.count %>
            <% end %>
        <% else %>
            <%= link_to relax_loves_path(@relax), method: :post do %>
                <i class="fas fa-heart"></i><%= @relax.loves.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="fas fa-heart"></i><%= @relax.loves.count %>
    <% end %>

<div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
        <div>
        <%= c.user.name unless c.user.blank? %>
        <br>
        <%= c.content %>
        </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@relax, @comment], local: true) do |f| %>
            <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
        <% end %>
    <% end %>
</div>
    </div>
<h2>いいねしたユーザー</h2>
    <% @relax.loved_users.each do |user| %>
        <li><%= user.name %></li>
    <% end %>


    <%= link_to "編集する", edit_relax_path(@relax.id) %>
    <%= link_to "一覧に戻る", relaxes_cards_path %>


<br><br><br>
</section>
